
<div class="row-col col-xs-6 col-md-4" style="background-color: #AB5F7E">
  <div>
  <h2></h2>
  </div>
</div>
<div class="row-col col-xs-6 col-md-4" style="background-color: #915183">
  <div>
  <h2></h2>
  </div>
</div>
<div class="row-col col-xs-6 col-md-4" style="background-color: #AB5F7E">
  <div>
  <h2></h2>
  </div>
</div>

<section class="history-row" >
  <div class="history-container">
    <div class="col-md-6 left-col" style="background-color: #AB5F7E">

    <h2>Look At What You've Done!</h2>

    <div class='meals' ng-repeat="meal in allMeals | orderBy: '-time'">
       <div class='showMeal'>
         <div class ='time'>Date: {{meal.time.slice(0, 10)}}</div>
         <div class='meal'>What you ate: {{meal.meal}}</div>
         <div class='calories'>{{meal.calories}} calories</div>
         <sdiv class = 'speed'>{{meal.speed}} mph</sdiv>
         <div class='weight'>{{meal.weight}} lbs</div>
         <div class='miles'>{{meal.miles}} miles</div>
         <div class ='mins'>{{meal.mins}} minutes</div>
       </div>
    </div>

    </div>

    <div class="col-md-6 right-col" style="background-color: #915183">
      <h2>Stay Trendy My Friend!</h2>
      <nav class="nav-stats">
        <ul class='nav nav-pills stats-pills'>
          <li><a ng-Click="calChart()" href="#"> By Calorie</a></li>
          <li><a ng-Click="minChart()" href="#"> By Minute</a></li>
          <li><a ng-Click="weightChart()" href="#"> By Weight</a></li>
          <li><a ng-Click="mileChart()" href="#"> By Mile</a></li>
        </ul>
      </nav>
      <div class="meals-stats">
        <div class="chart" />
      </div>
    </div>
    <h4 class="l"><--Thats A Little!</h4>
    <h4 class="r">That's A Lot!--></h4>
  </div>
</section>

<div class="row-col col-xs-6 col-md-4" style="background-color: #AB5F7E">
  <div>
  <h2></h2>
  </div>
</div>
<div class="row-col col-xs-6 col-md-4" style="background-color: #915183">
  <div>
  <h2></h2>
  </div>
</div>
<div class="row-col col-xs-6 col-md-4" style="background-color: #AB5F7E">
  <div>
  <h2></h2>
  </div>
</div>
